body {
    margin:0;
    font-family: 'Open sans', sans-serif ;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    position: static;
    top: 0;
    height: 84px;
    width: 100%;
    padding: 20px 55px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: #5047D7;
}

/* nav */

.nav {
    font-size: 16px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 52px;

    color: #333;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link:hover {
    color:#5047D7;
}

/* hotel */

.hotel {
    display: flex;
    flex-direction: column;
    padding-top: 101px;
    width: 100%;
    height: 100vh;

    background: url("../img/hotel.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.hotel_inner {
    width: 100%;
    min-width: 880px;
    margin: 0 auto;
}

.hotel__title {
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 64px;
}

.hotel_subtitle {
    font-style: 300;
    font-size: 16px;
    color: #3F3F3F;
    text-align: left;
}

.hotel_subtitle:after {
    content: url("../img/star.png");
    display: block;
    filter: 
    drop-shadow(8ch 0 0 #FF9500)
    drop-shadow(8ch 0 0 #FF9500)
    drop-shadow(16ch 0 0 #FF9500);
    margin: 25px auto 0;

}